.inner{
    width: 1340px;
    margin: 0 auto;
}

.visual{
    background-image: url(../img/sub1_1.png);
    width: 100%;
    height: 890px;
    color: #FFF;
    font-weight: 700;
    font-family: "GmarketSans", sans-serif;
}

.visual h2{
    font-size: 64px;
    padding-left: 200px;
    padding-top: 486px;
    box-sizing: border-box;
}

.visual strong{
    font-size: 28px;
    line-height: 36px;
    padding-top: 12px;
    padding-left: 200px;
    box-sizing: border-box;
}


.cos{
    font-weight: 700;
    font-family: "GmarketSans", sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 127px 0;
}
.cos h2{
    margin-bottom: 50px;
}

.cos strong{
    color: #3AA6BF;
}


.cos1{
    background: #F3F3F3;
    padding: 53px 0 62px 0;
}

.cos1 h3{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 700;
    font-family: "GmarketSans", sans-serif;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 40px; ;
}
.cos1 h3 img{
    margin-right: 13px;
}

.cos1 .img{
    background-image: url(../img/sub1_3.png);
    width: 100%;
    height: 655px;
    background-repeat: no-repeat;
    margin-bottom: 27px;
}

.cos1 p{
    color: #333;
    font-family: "GmarketSans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}